# dependencies
node_modules/

# builds
dist/
build/
out/

# env
.env
.env.local

# logs
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# python
__pycache__/
.venv/

# misc
test_results/
recordings/
bin/
